* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
  background-color: #d4deeb;
  padding: 100px 0;
}

.container {
  border-radius: 10px;
  background-color: white;
  height: 400px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.container img {
  width: 225px;
  height: auto;
  border-radius: 10px;
}

.header {
  width: 220px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header h1 {
  font-size: 16px;
  font-weight: 600;
}

.header p {
  font-size: 12px;
  font-weight: 300;
  margin-bottom: 15px;
}

.attribution {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 0;
}
